* {
  display: block;
  box-sizing: border-box;
}

title {
  color: #fff;
}

body {
  background-color: #191919;
  color: white;
}

button {
  background-color: #1b1b1b;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 10px;
  padding: 1% 1% 1% 1%;
}

button:hover {
  transition: 0.1s ease-in-out;
  background-color: #4d4d4d;
}

button:active {
  background-color: #1e1e1e;
  transition: 0.1s ease-in-out;
}

input[type="text"],
input[type="number"] {
  border-radius: 3px;
  border: none;
  padding: 3% 5% 3% 5%;
  background-color: #4d4d4d;
  color: white;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: 2px solid white;
}

input[type="text"]:hover,
input[type="number"]:hover {
  background-color: rgb(128, 128, 128);
  transition: 0.1s ease-in;
}

.blockElements * {
  display: block;
  color: #f0f0f0;
  padding: 0.5em;
}

.container {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
}

.blockElementSizer > input {
  width: 95%;
}

.bottomBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottomBarSection {
  display: flex;
  margin-top: 5px;
}

.bottomBarSection > * {
  display: inline;
}

.centerText {
  text-align: center;
}

.nodeTools {
  display: flex;
  justify-content: flex-start;
  overflow: auto;
  height: 85vh;
  border: solid 1px black;
}

.fullSize {
  width: 100%;
  height: 100%;
}

#deleteNode {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 10px;
  background-color: #1b1b1b;
  color: #f0f0f0;
  padding: 1% 2% 1% 2%;
}

#deleteNode:hover {
  background-color: #4d4d4d;
  transition: 0.1s ease-in-out;
}

#deleteNode:active {
  background-color: #1e1e1e;
  transition: 0.1s ease-in-out;
}

#gameList {
  visibility: hidden;
  position: fixed;
  text-align: center;
  width: 25%;
  border: 3px solid black;
  background-color: #f0f8ff;
  height: 25vh;
  top: 25%;
  left: 37.5%;
  z-index: 1;
}

#gameSim {
  display: none;
  margin: auto;
  margin-top: 16px;
  width: 65%;
  height: 95vh;
  border: 2px solid black;
}

.gameSimTools {
  display: flex;
  justify-content: space-evenly;
}

#gameContainer {
  margin: auto;
  height: 92%;
  border: 1px solid black;
}

#outputSim {
  margin: auto;
  width: 90%;
  height: 92%;
  border: 1px solid white;
  border-top: none;
  overflow: auto;
  /* Added these for improving readability, might not actually be necessary feel free to delete/modify. */
  padding-left: 10px;
  padding-right: 20%;
  color: #d3d3d3;
}

#inputSim {
  margin: auto;
  width: 90%;
  font-style: bold;
}

/*TOOLTIPS*/

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 37%;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 15vh;
  left: 8px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#directions {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
#directions input {
  margin-right: 30px;
}

input[type="checkbox"] {
  accent-color: #4d4d4d;
  width: 20px;
  height: 20px;
}
.nodeTools button {
  background-color: #191919;
}

.nodeTools button:hover {
  transition: 0.1s ease-in-out;
  background-color: #4d4d4d;
}

.nodeTools button:active {
  background-color: #1e1e1e;
  transition: 0.1s ease-in-out;
}

textarea {
  background-color: #4d4d4d;
  border-radius: 0px;
}
textarea:hover {
  background-color: rgb(128, 128, 128);
  transition: 0.1s ease-in;
  outline: none;
}
textarea:focus {
  outline: 1px solid white;
  transition: 0.1s ease-in-out;
}
textarea:active {
  outline: 1px solid white;
  transition: 0.1s ease-in-out;
}

.nodeTools {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ffffff;
}

#nodeMap {
  margin-top: 10px;
  margin-left: 5px;
  border: 1px solid #ffffff;
}

.bottomBar {
  display: flex;
  justify-content: space-around;
}

#gameSim {
  border: 1px solid white;
}

#gameContainer {
  border:  none;
}

#inputActionSim {
  width: 100%;
  padding: 1% 1% 1% 1%;
}
#inputActionSim:focus{
  outline: 0.5px solid white;
}
#inputActionSim:active{
  outline: 0.5px solid white;
}

select {
  color: white;
  background-color: #4d4d4d;
  border-radius: 3px;
}

select:hover {
  background-color: #737272;
  transition: 0.1s ease-in-out;
}

select:focus {
  background-color: #737272;
  transition: 0.1s ease-in-out;
}

